body {
    width: 100vw;
    overflow: hidden;
}

h1 {
    color: red;
}

nav {
    height: 7vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

nav  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
}

nav ul li {
    list-style: none;
}